$first  : #c0caad;
$second : #9da9a0;
$third  : #654c4f;
$fouth  : #b26e63;
$fifth  : #cec075;

$dark: #434753;

$darktext: #91959e;

$red: #fd8064;
$green: #62c16f;
$blue: #7bc4ef;

$broken: #f1f5f8;
$placeholdergray: #cbced5;
