doctype html
html(lang="nl")
  head
    title= Chat
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700", rel="stylesheet", type="text/css")
    link(href="style.css", rel="stylesheet", type="text/css")
  body
    //- h1 #{name}
    //- h2 #{UUID}
    if home == "true"
      include login.jade
    else
      include chat.jade
    script(src="jquery-1.11.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="scripts.js")
    //- script(src="http://localhost:35729/livereload.js")
